In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
df_test=pd.read_csv('test.csv')

In [26]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [40]:
df_test.shape

(4209, 377)

In [27]:
for feature in df_test.columns:
    if (df_test[feature].isnull().sum()!=0):
        print("Null values of the "+feature+df_test[feature].isnull().sum())
print("No null values found")

No null values found

In [28]:
categorical_features=[feature for feature in df_test.columns if df_test[feature].dtype=='O']

In [29]:
#Get dummy variables for all the categorical variables
def one_hot_top(df,variable,top_x_labels):
#function to create dummy variables
    for label in top_x_labels:
        df[variable+'_'+label]=np.where(df[variable]==label,1,0)
#Create a new dataframe only with categorical variables.
data=pd.read_csv('test.csv',usecols=categorical_features)

In [30]:
for feature in data.columns:
    top_10=[x for x in data[feature].value_counts().sort_values(ascending=False).head(10).index]
    one_hot_top(data,feature,top_10)

In [31]:
data.drop(categorical_features,axis=1,inplace=True)

In [32]:
df_test_new=pd.concat([df_test,data],axis=1)

In [33]:
df_test_new.drop(categorical_features,axis=1,inplace=True)

In [34]:
df_test_new.head()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X8_e,X8_j,X8_s,X8_f,X8_n,X8_i,X8_r,X8_a,X8_w,X8_v
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
X_test=df_test_new

In [15]:
X_test.head()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X8_e,X8_j,X8_s,X8_f,X8_n,X8_i,X8_r,X8_a,X8_w,X8_v
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [18]:
y_train=pd.read_csv('y_train.csv')

In [19]:
feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) # remember to set the seed, the random state in this function
feature_sel_model.fit(X_test,y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=0,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [20]:
# let's print the number of total and selected features

# this is how we can make a list of the selected features
selected_feat = X_test.columns[(feature_sel_model.get_support())]

# let's print some stats
print('total features: {}'.format((X_test.shape[1])))
print('selected features: {}'.format(len(selected_feat)))

total features: 440
selected features: 259

In [36]:
X_test.to_csv('X_test.csv')

In [38]:
X_test.shape

(4209, 440)